<!-- ======= Search Form ======= -->
<div class="search-form-wrap js-search-form-wrap">
    <form [action]="['search','hello']" class="search-form" [formGroup]="formGroup" (keyup.enter)="onSubmit()">
        <p-autoComplete formControlName="selectedKeyword"
                        [suggestions]="filteredKeywords"
                        placeholder="Search"
                        (completeMethod)="filterKeyword($event)" size="20"
                        [style]="{ height: '34px'}">
            <ng-template let-keyword pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ keyword }}</div>
                </div>
            </ng-template>
        </p-autoComplete>
        <button type="button" class="btn js-search-close"><span class="bi-x"></span></button>
    </form>
</div><!-- End Search Form -->
