
<main id="main">
  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <div *ngFor="let post of _6LatestPosts$ | async" class="swiper-slide">
                <a [ngStyle]="{'background-image': 'url('+ post.image +')'}" [routerLink]="['singlePost',post.slug]" class="img-bg d-flex align-items-end">
                  <div class="img-bg-inner">
                    <h2>{{post.title}}</h2>
                    <p>{{post.sumary}}</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="post-entry-1 lg">
            <a [routerLink]="['singlePost',newPost?.slug]"><img [src]="newPost?.image"
                                                        alt="" class="img-fluid"></a>
            <div class="post-meta"><span class="date">{{newPost?.category}}</span> <span
              class="mx-1">&bullet;</span>
              <span>{{newPost?.create_at | date}}</span></div>
            <h2><a [routerLink]="['singlePost',newPost?.slug]">{{newPost?.title}}</a></h2>
            <p class="mb-4 d-block">{{newPost?.sumary}}</p>

            <div class="d-flex align-items-center author">
              <div class="photo"><img src="assets/client/img/person-1.jpg" alt=""
                                      class="img-fluid"></div>
              <div class="name">
                <h3 class="m-0 p-0">{{newPost?.username}} duynnz</h3>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-8">
          <div class="row g-5">
              <div class="col-lg-4 border-start custom-border" *ngFor="let groupPost of _6LatestPosts$ | async | chunkArray :3">
                  <div class="post-entry-1" *ngFor="let post of groupPost">
                      <a [routerLink]="['singlePost',post.slug]"><img [src]="post.image" class="img-fluid"></a>
                      <div class="post-meta"><span class="date">{{post.category_name}}</span> <span class="mx-1">•</span> <span>{{post.create_at | date}}</span></div>
                      <h2><a [routerLink]="['singlePost',post.slug]">{{post?.title}}</a></h2>
                  </div>
              </div>

            <!-- Trending Section -->
            <div class="col-lg-4">
              <app-trending-post></app-trending-post>
            </div>
            <!-- End Trending Section -->
          </div>
        </div>

      </div> <!-- End .row -->
    </div>
  </section> <!-- End Post Grid Section -->
</main><!-- End #main -->
